@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    /* outline: 1px green solid; */

}
p{
     line-height:25px !important;  
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.purp {
    color: #6415ff;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 100px;
}

.logo__wrapper {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;

}

.nav__link {
    margin: 0 20px;
    color: #243e63;
    font-weight: 600;
    font-size: 14px;

}

.logo {
    width: 100%;
    max-width: 40px;
    margin: 0 20px;
}

.logo__wrapper {
    font-size: 26px;
    font-weight: 800;
    color: #243e63;

}

.nav__link--other {
    display: flex;
    padding-left: 50px;
}

.btn {
    color: white;
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 20px;
}

.container__main {
    display: flex;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

.left__main {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.right__main--img {
    width: 100%;

}

.right__main {
    width: 60%;
}

.mainheader {
    color: #10202c;
    font-size: 46px;
    padding-bottom: 30px;
}

.main__para {
    font-size: 17px;
    line-height: 24px;
    padding-bottom: 30px;
    color: #10202c;
}

.btnwrapper {
    border: 2px solid rgba(172, 177, 184, 0.373);
    border-radius: 50px;

    display: flex;
    font-size: 16px;

    color: #10202c;
    font-weight: 500;
    transition: all ease 500ms;
    height: 70px;
    width: 450px;
    max-width: 100%;
    padding-left: 50px;

}

.btnwrapper::placeholder {
    color: rgb(172, 177, 184);
    font-size: 16px;


}

.btnwrapper:hover {
    border: 2px solid rgba(42, 89, 155, 0.373);
}

.btn__main {
    position: absolute;
    top: 14px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    right: 50px;
    cursor: pointer;
    transition: all ease 500ms;
    
}
.btn__main:hover{
    background-color: #243e63;
}

.btn__main--contiainer {
    position: relative;
   max-width: 100%;
}
.customerswrap{
    margin-top: 100px;
}
.customersheader{
    font-size: 12px;
    color: rgb(162, 171, 178);
}
.customers__img{
    width: 100%;
    max-width: 400px;
    padding-top: 20px;
    opacity: 50%;
}


#features{
    margin-top: 120px;
}

.contianer__feauters{
  width: 100%;
  
  margin: 0 auto;
}

.feauters__header--text{
    text-align: center;
    
}

.featuers__sub--header{
    font-size: 16px;
    font-weight: 700;

}

.header__featuers{
    margin: 30px 0 20px 0;
    font-size: 2.7rem;
    color: #243e63;
    font-weight: 800;
}
.para__features{
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    max-width: 500px;
    line-height:25px;
    margin: 0 auto;
    color: rgba(107, 111, 115, 0.556);
}

.feature{
    display: flex;
max-width: 300px;
width: 100%;
margin: 50px 20px;
}
.content__header{
    font-size: 26px;
    color: #243e63;
}

.content__para{
    padding-top: 17px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(107, 111, 115, 0.556);
}

.feauters__logo{
    padding-bottom: 90px;
    padding-right: 30px;
    width: 100%;
    max-width: 60px;
   
}
.featers__wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width:2000px;
    align-items: center;
    justify-content: center;
}